/* STYLESHEET FOR "SIMPLE ANATOMY OF A WEBSITE" */

/* -------------------------------------------------- */
/* VARIABLES AMD CONSTANTS */
/* -------------------------------------------------- */

/* Visual identity */

:root {
    --screen-amber: #fcbf00;
    --burned-amber: #2a1d07;
    --black: #000000;
    --white: #ffffff;
    --ligth-beige: #ece4d5;
    --dark-beige: #aea99d;
}

@font-face {
    font-family: "Eurotype Bold";
    src: url("./fonts/QTEurotype-Bold.otf");
}

@font-face {
    font-family: "Eurotype";
    src: url("./fonts/QTEurotype.otf");
}

@font-face {
    font-family: "Print Char";
    src: url("./fonts/PrintChar21.ttf");
}

/* -------------------------------------------------- */
/* ELEMENT STYLING */
/* -------------------------------------------------- */

html {
    background-color: var(--ligth-beige);
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: "Eurotype";
    max-width: 500px;
    font-size: 20px;
    padding: 50px;
}

code {
    font-family: "Print Char";
    font-size: 12px;
    background-color: var(--black);
    color: var(--screen-amber);
    padding: 5px;
}

a {
    color: var(--burned-amber);
}

a:hover {
    color: var(--black);
    background-color: var(--ligth-beige);
}

button {
    font-family: "Eurotype";
    font-size: 20px;
    color: var(--black);
    background-color: var(--dark-beige);
}

button:hover {
    color: var(--black);
    background-color: var(--ligth-beige);
}

nav {
    margin: 10px;
}

nav a {
    border: solid;
    text-decoration: none;
    border-width: 1px;
    border-color: var(--black);
    margin: 10px;
    padding: 5px;
    color: var(--black);
    background-color: var(--dark-beige);
}

/* -------------------------------------------------- */
/* GENERAL CLASSES */
/* -------------------------------------------------- */

.hiddenSecret {
    display: none;
}

.hidden {
    display: none;
}

/* -------------------------------------------------- */
/* JAVASCRIPT EXAMPLE */
/* -------------------------------------------------- */

#game {
    font-family: "Print Char";
    background-color: var(--black);
    color: var(--screen-amber);
    padding: 50px;
}

#grid {
    text-align: center;
}

.gameTile {
    display: inline-block;
    width: 20px;
    height: 20px;
}